@model IEnumerable<IQTest.Models.Tweet>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#dv_BgLoader").show();
            $(function () {
                $.ajax({
                    "dataType": 'json',
                    "type": "GET",
                    "url": '@Url.Action("getData")',
                    "success": function (data) {
                        $("#dv_BgLoader").hide();
                        var dd = JSON.parse(data);
                        $('#example').DataTable({
                            data: dd,
                            columns: [
                                 { title: "ID", "data": "id" },
                                { title: "Stamp", 'width': '20%',"data": "stamp" },
                                {
                                    title: "Text", "data": "text", "render": function (data, type, row, meta) {
                                        return JSON.stringify(data);
                                    }
                                }
                            ]
                        });

                        $('#example').column(0).data().unique();
                    }
                });
            });
        });
    </script>
</head>
<body>

    <div class="container">
        <img id="dv_BgLoader" class="text-center" src="~/Images/loaderImage.gif" style="position: absolute;top: 50%;left: 50%;margin: -50px 0px 0px -50px;" />
        <table id="example" class="table table-bordered display" cellspacing="0" style="width:100%!important;font-size:12px;color:black;"></table>
    </div>
</body>
</html>
